<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="tJ8bcj_wNW73bBepIggJ-OelWFno_vFGvFNl4qo0VgM" />

  <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4443770987501475" crossorigin="anonymous"></script>
  
  <meta name="description" content="14 Mayıs 2023 seçimine kaç gün kaldı? Seçime kaç gün var? Tüm bu soruların hepsinin cevabı 14mayissecimleri.com adresinde. Anket sonuçları ve daha fazlası için anketsonucu.com adresini ziyaret edebilirsiniz.">
  <meta name="keywords" content="14 mayıs seçimleri, 14 mayıs seçimi, seçim haberleri, sonuç, seçim anketleri, seçim sonuçları, anket, anket sonucu">
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <title> 14 Mayıs Seçimleri | AnketSonucu </title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light shadow fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">14MayısSeçimleri</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" aria-current="page" href="index.html"><button type="button"
              class="btn btn-outline-dark">Ana Sayfa</button></a>
          <div class="vr"></div>
          <a class="nav-link " href="http://anketsonucu.com/" target="_blank"><button type="button"
              class="btn btn-outline-dark">Anket Sonucu</button></a>
        </div>
      </div>
    </div>
  </nav>
  <div class="typewriter">
    <!-- Search icon by https://www.flaticon.com/authors/good-ware -->
    <svg id="search-icon" xmlns="http://www.w3.org/2000/svg" height="16px" version="1.1" viewBox="-1 0 136 136"
      width="30px">
      <g id="surface1">
        <path
          d="M 93.148438 80.832031 C 109.5 57.742188 104.03125 25.769531 80.941406 9.421875 C 57.851562 -6.925781 25.878906 -1.460938 9.53125 21.632812 C -6.816406 44.722656 -1.351562 76.691406 21.742188 93.039062 C 38.222656 104.707031 60.011719 105.605469 77.394531 95.339844 L 115.164062 132.882812 C 119.242188 137.175781 126.027344 137.347656 130.320312 133.269531 C 134.613281 129.195312 134.785156 122.410156 130.710938 118.117188 C 130.582031 117.980469 130.457031 117.855469 130.320312 117.726562 Z M 51.308594 84.332031 C 33.0625 84.335938 18.269531 69.554688 18.257812 51.308594 C 18.253906 33.0625 33.035156 18.269531 51.285156 18.261719 C 69.507812 18.253906 84.292969 33.011719 84.328125 51.234375 C 84.359375 69.484375 69.585938 84.300781 51.332031 84.332031 C 51.324219 84.332031 51.320312 84.332031 51.308594 84.332031 Z M 51.308594 84.332031 "
          style=" stroke:none;fill-rule:nonzero;fill: black;fill-opacity:1;" />
      </g>
    </svg>
    <div id="text"></div>
    <div id="cursor"></div>
  </div>
  <div class="main-example">
    <div class="countdown-container" data-timer="2024/03/31 00:00 " id="main-example"></div>
  </div>
  <script type="text/template" id="main-example-template">
        <div class="time <%= label %>">
          <span class="count curr top"><%= curr %></span>
          <span class="count next top"><%= next %></span>
          <span class="count next bottom"><%= next %></span>
          <span class="count curr bottom"><%= curr %></span>
          <span class="label"><%= label.length < 7 ? label : label.substr(0, 3)  %></span>
        </div>
  </script>

  <div class="marquee">
    <div>
      <p>Bu site 14 mayıs seçimlerine kaç gün kaldığı hakkında bilgi vermek için hazırlanmıştır. Güncel anket sonuçları ve daha fazlası için anketsonucu.com adresini ziyaret edebilirsiniz.</p>
    </div>
  </div>

  <script>// List of sentences
    var _CONTENT = [
      "Anket sonuçları ve daha fazlası için anketsonucu.com",
      "Seçime kaç gün kaldı?",
      "14 Mayıs seçimlerine kaç gün var?",
    ];

    // Current sentence being processed
    var _PART = 0;

    // Character number of the current sentence being processed 
    var _PART_INDEX = 0;

    // Holds the handle returned from setInterval
    var _INTERVAL_VAL;

    // Element that holds the text
    var _ELEMENT = document.querySelector("#text");

    // Cursor element 
    var _CURSOR = document.querySelector("#cursor");

    // Implements typing effect
    function Type() {
      // Get substring with 1 characater added
      var text = _CONTENT[_PART].substring(0, _PART_INDEX + 1);
      _ELEMENT.innerHTML = text;
      _PART_INDEX++;

      // If full sentence has been displayed then start to delete the sentence after some time
      if (text === _CONTENT[_PART]) {
        // Hide the cursor
        _CURSOR.style.display = 'none';

        clearInterval(_INTERVAL_VAL);
        setTimeout(function () {
          _INTERVAL_VAL = setInterval(Delete, 25);
        }, 600);
      }
    }

    // Implements deleting effect
    function Delete() {
      // Get substring with 1 characater deleted
      var text = _CONTENT[_PART].substring(0, _PART_INDEX - 1);
      _ELEMENT.innerHTML = text;
      _PART_INDEX--;

      // If sentence has been deleted then start to display the next sentence
      if (text === '') {
        clearInterval(_INTERVAL_VAL);

        // If current sentence was last then display the first one, else move to the next
        if (_PART == (_CONTENT.length - 1))
          _PART = 0;
        else
          _PART++;

        _PART_INDEX = 0;

        // Start to display the next sentence after some time
        setTimeout(function () {
          _CURSOR.style.display = 'inline-block';
          _INTERVAL_VAL = setInterval(Type, 80);
        }, 200);
      }
    }

    // Start the typing effect on load
    _INTERVAL_VAL = setInterval(Type, 100);
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
  <script src="script.js"></script>
</body>

</html>